* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbarScroll{
    display: flex;
    justify-content: space-between;
}
#firs{
    display: flex;
    justify-content: space-between;
}

#body1 {
    background-image: url(images/pexels-quintin-gellar-321159.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
}
#logo{
    display: inline;
}
nav {
    background-color: rgba(76, 76, 100, 0.5);
}
nav a:hover {
    color: black !important;
}
#pills-tabContent{
    background-color:  rgba(10, 9, 62, 0.5);
}

/* #bookcon {
    margin-left: 100px !important;
    margin-right: 200px !important;
} */
#pills-home-tab,#pills-profile-tab,#pills-contact-tab,#pills-flight-tab{
    background-color:  rgba(10, 9, 62, 0.2);
    color: white;
    border: none;
}
#pills-home-tab:hover,#pills-profile-tab:hover,#pills-contact-tab:hover,#pills-flight-tab:hover{
    background-color: #34000D;
}
#searchButton{
    background-color:#34000D;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0 !important;
    /* margin-left:auto ;
    margin-right: 0; */
}
#searchButton:hover{
    background-color: #14394C;
}
#EXPERIENCE{
    background-color: rgba(10, 49, 82, 0.8);
    padding: 60px 0 120px;
}
#imagesBackHover{
    height: 100%;
    width: 0;
    background-color: rgba(10, 49, 82, 0.8);
    transition: .4s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagesBack:hover #imagesBackHover {
    width: 100%;
}
.imgText {
    background-color: rgba(0, 0, 0, 0.5);
}

.cityContainer {
    overflow: hidden !important;
    transition: 4s ease-in-out;
}


.cityContainer:hover img {
    transform: scale(1.5);
}
#imagesBack{
    background-image: url(images/9.jpg);
    height: 35%;
    width: 35%;
    object-fit: fill;
    background-position: center;
}
@media screen and (max-width: 600px) {
    #imagesBack{
        background-image: url(images/9.jpg);
        height: 35%;
        width: 100%;
        object-fit: fill;
        background-position: center;
    }
}
#newSeach{
    background-color:#34000D;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;

}
.dateBox{
    color: #fff;
    background-color: rgb(13, 63, 132);
    padding: 20px 40px;
}
.dateBox:hover{
    background-color:rgb(37, 48,130) ;
}
.flightInfo{
    background-color: #5C0036;
    color: #fff;
}


#from, #to, #departure {
    background-color: transparent;
    outline: 0;
    border: 0;
    border-left: 1px solid grey;
}
